# Eclipse
/.settings/
/.buildpath
/.project
/nbproject

# PHPStorm
/.idea

# Examples
/test/*
!/test/generate.sh

# PhpUnit
/build/

# Composer
/bin/
/vendor/
/composer.lock

#propio del proyecto de alesi
galerias/docs/*
galerias/imagenes/*